extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Dilip Agheda

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer & Test Automation Engineer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am passionate about learning and applying digital technology to solve problems. I build, test and deploy awesome apps that adds value to everyday lives. In my free time, I build side projects using web, mobile and backend technologies. I continously learn and improve my skills through online coding bootcamps such as Treehouse and Udacity.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML, CSS & JavaScript
          li jQuery
          li Bootstrap
          li Node.js
          li Express
          li MongoDB
          li React.js
          li APIs
          li Basic Android with Java
          li Selenium Webdriver (Web Testing)
          li Appium (Mobile Testing)
        h6 Contact Info

        //- Add your own contact info
        ul
          li dilip_agheda@yahoo.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/dilip-a-3293b77/') LinkedIn
        a.button.expanded(href='https://github.com/dilipagheda') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  