extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9

        //- Add your name.
        h1 Dilip Agheda

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer & Test Automation Engineer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am a technology professional and have been working in IT since 2002. I had my first exposure of computer programming with Fortran back in 1997. After that I learnt variety of tech stuff and still learning!  
          p  
            | I am passionate about learning and applying digital technology to solve problems. I build, test and deploy awesome apps that adds value to everyday lives. 
          p  
            | I have been working as a Test Engineer in an Agile environment with companies like Macquarie Bank, Reserve Bank of Australia, Qantas and Commonwealth Bank to name a few. In my various roles as a Test Engineer, I have done tons of automation testing on UI as well as API side, built frameworks using Java, C#, Selenium Webdriver, BDD frameworks like jBehave and Specflow. Having done coding as both developer and test engineer enables me to work well in a team environment and contribute to all aspects of software development. I am not affraid of venturing into a technology zone where i have little or zero knowledge. I believe that when a person has passion for learning , open mindset and willing put 100%, nothing is impossible. 
          p  
            | In my free time, I work on side projects using web, mobile and backend technologies. I continously learn and improve my skills through online coding bootcamps such as Treehouse and Udacity.

      .cell.portfolio-meta.small-12.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul.fa-ul
          li 
            span.fa-li
              i.fas.fa-check-square
            | HTML, CSS & JavaScript
          li 
            span.fa-li
              i.fas.fa-check-square
            | jQuery
          li 
            span.fa-li
              i.fas.fa-check-square
            | Bootstrap
          li 
            span.fa-li
              i.fas.fa-check-square
            | Node.js
          li 
            span.fa-li
              i.fas.fa-check-square
            | Express
          li 
            span.fa-li
              i.fas.fa-check-square
            | MongoDB
          li 
            span.fa-li
              i.fas.fa-check-square
            | React.js
          li 
            span.fa-li
              i.fas.fa-check-square
            | APIs
          li 
            span.fa-li
              i.fas.fa-check-square
            | Basic Android with Java
          li 
            span.fa-li
              i.fas.fa-check-square
            | Selenium Webdriver (Web Testing)
          li 
            span.fa-li
              i.fas.fa-check-square
            | Appium (Mobile Testing)
        h6 Contact Info

        //- Add your own contact info
        .contact-info.text-center
          | dilip_agheda@yahoo.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/dilip-a-3293b77/') LinkedIn
        a.button.expanded(href='https://github.com/dilipagheda') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  